---
import { getCollection, render } from 'astro:content';
import Layout from "../../layouts/Layout.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---
<Layout>
  <div class="center">
    <div class="wrapper">
      <a href="javascript:window.history.back();">&lt;back</a>
      <h1>{post.data.title}</h1>
      <small>pubDate: {post.data.pubDate.toLocaleDateString()}</small>
      {post.data.updatedDate && (<small>updated: {post.data.updatedDate.toLocaleDateString()}</small>)}
      {post.data.tags && (<p class="tags">{post.data.tags.map((tag)=>(<a href={"/tags/"+tag}>#{tag} </a>))}</p>)}
      <Content />
    </div>
  </div>
</Layout>

<style>
.wrapper {
  display: grid;
  place-content: center;
  width: 40em;
  max-width: 90dvw;
  z-index: 99;
  padding: 1rem;
  border-radius: 18px;
  background-color: #99EECC21;
}

.wrapper > * {
  margin-block: 0;
}

</style>
