---
const year = new Date().getFullYear()
---
<footer><p>copyright &copy; Logan Bunch {year}</p></footer>
<style>
footer {
	display: grid;
	place-items: center;
	padding: 10rem;
}
p {
	font-size: 1.2em;
	color: rgba(255,255,255, 0.7);
}
</style>
