@import url('../styles/fonts.css');

:root {
  --cursor-x: 50vw;
  --cursor-y: 50vh;
  background-color: rgb(14, 6, 36);
  font-family: 'Kanit', sans-serif;
  font-size: 14pt;
  color: rgb(225, 215, 215);
  margin: 0;
  padding: 0;
}

:root::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle 90vmax at var(--cursor-x) var(--cursor-y),
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.8) 80%,
      rgba(0, 0, 0, .85) 100%);
}

html,
body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: .6rem;
}

.center {
  display: grid;
  place-items: center;
  place-content: center;
}

p {
  font-family: "Trykker", serif;
  max-width: 40em;
}

pre {
  padding: 1rem;
  border-radius: 14px;
  border: solid 2px #ffffff44;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: rgba(245, 245, 255, 0.6);
}

a:hover {
  color: rgba(255, 255, 255, 0.9);
}
